body {
    background-color: #e0e0e0
}

i {
    color: #f50057;
    transition: transform .2s;
}

i:hover{
    transform: scale(1.5)
  }


a {
    cursor: pointer;
}

.sidenav-trigger{
    display: none;
}

.word-form {
    left: 0;
    right: 0;
    top: 11%;
    bottom: 0;
    margin: auto;
    max-width: 50%;
    overflow: auto;
    position: absolute;
}

.Loading {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 50%;
    overflow: auto;
    position: absolute;
}

.flash-card {
    left: 0;
    right: 0;
    top: 11%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    overflow: auto;
    position: absolute;
}

.word-count {
    left: 0;
    right: 0;
    top: 11%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    overflow: auto;
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .word-form {
        max-width: 80%;
    }
    .flash_card {
        max-width: 100%;
    }
    .search-input {
        max-width: 80%
    }
    .search-input i {
        display: hidden;
    }
    .user_input {
        margin-top: 30%;
        width: 30%;
        margin: auto;
    }
    .Loading {
        margin-top: 50%;
    }
    .sidenav-trigger{
        display: block;
    }
    .list-item{
        display: none;
    }
}

.user_input {
    width: 50%;
    margin: auto;
    padding-top: 5%;
}
